<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs">
  <Package Name="MusicMic"
           Manufacturer="MusicMic"
           Version="$(var.ProductVersion)"
           UpgradeCode="A66CC740-FB74-4CFC-BCF3-5C6A24B96B39"
           Language="1033"
           Scope="perMachine">
    <MajorUpgrade DowngradeErrorMessage="A newer version of MusicMic is already installed." />
    <MediaTemplate EmbedCab="yes" />
    <Property Id="ARPNOMODIFY" Value="1" />
    <Property Id="ARPNOREPAIR" Value="1" />

    <StandardDirectory Id="ProgramFiles64Folder">
      <Directory Id="INSTALLFOLDER" Name="MusicMic" />
    </StandardDirectory>

    <StandardDirectory Id="ProgramMenuFolder">
      <Directory Id="MusicMicProgramMenuFolder" Name="MusicMic">
        <Component Id="MusicMicStartMenuShortcut" Guid="*">
          <Shortcut Id="MusicMicStartMenuShortcut"
                    Name="MusicMic"
                    Target="[INSTALLFOLDER]MusicMic.exe"
                    WorkingDirectory="INSTALLFOLDER" />
          <RemoveFolder Id="RemoveMusicMicProgramMenuFolder" On="uninstall" />
          <RegistryValue Root="HKLM"
                         Key="Software\MusicMic"
                         Name="StartMenuShortcut"
                         Type="integer"
                         Value="1"
                         KeyPath="yes" />
        </Component>
      </Directory>
    </StandardDirectory>

    <Feature Id="Complete" Title="MusicMic" Level="1">
      <ComponentGroupRef Id="PublishedFiles" />
      <ComponentRef Id="MusicMicStartMenuShortcut" />
    </Feature>
  </Package>

  <Fragment>
    <ComponentGroup Id="PublishedFiles" Directory="INSTALLFOLDER">
      <Files Include="$(var.PublishDir)\**" />
    </ComponentGroup>
  </Fragment>
</Wix>
